.signup {
  height: 70vh;
  h1 {
    margin-bottom: 2.4rem;
  }
  .signup--container {
    display: flex;
    justify-content: center;
    flex-direction: column;

    form {
      gap: 0.8rem;

      .signup__button {
        display: flex;
        gap: 1rem;

        a {
          color: #000;
        }
      }
    }
  }
}
